# dev/deploy
flit
pylint
mypy<0.800
pytest
pytest-coverage
pytest-timeout
pytest-xdist
diff-cover
# from pyproject.toml
cloudsync~=3.0.0
onedrivesdk_fork
quickxorhash
dataclasses
codecov
pylint-requests
