# dev/deploy
flit==2.3.0
pylint==2.5.3
mypy==0.782
pytest==5.4.3
pytest-coverage==0.0.1
pytest-timeout==1.4.2
pytest-xdist==1.33.0
# from pyproject.toml
cloudsync~=2.1.2
onedrivesdk_fork==1.1.14
quickxorhash==1.0.4
codecov
pylint-requests
